<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Details of your Apartment</title>
</head>
<body>

{{> /common/_navigation }}
	
	
	{{#apartment}}
	 	<form method="post" action="/apartments/{{ id }}/like">
	 	{{^likedApt}}{{^isLister}}{{#currentUser}}<button>Like this apartment</button>{{/currentUser}}{{/isLister}}{{/likedApt}}
	 	<input type="hidden" name="returnPath" value="{{ returnPath }}">
	 	</form>

		
	 	<form method="post" action="/apartments/{{ id }}/deactivations">
	 	{{#isLister}}{{#currentUser}}{{#isActive}}<button>Deactivate listing</button>{{/isActive}}{{/currentUser}}{{/isLister}}
	 	</form>

 	 	<form method="post" action="/apartments/{{ id }}/activations">
	 	{{#isLister}}{{#currentUser}}{{^isActive}}<button>Activate listing</button>{{/isActive}}{{/currentUser}}{{/isLister}}
	 	</form>	 	 	
	 
		{{#noUser}}	<a href="/login?returnPath=/apartments/{{ id }}">Login to LIKE this apartment</a>{{/noUser}}
	 	
	{{/apartment}}
	
	{{^likedApt}}
		{{#likers}}
			<p>{{ firstName }} liked your Apartment!</p>
		{{/likers}}
	{{/likedApt}}

	<h1>Only ${{ apartment.rent }}</h1>
	
	<br>
	<br>

	
	<p>
	  {{ apartment.street }}<br>
	  {{ apartment.city }}, {{ apartment.state }} {{ apartment.zipCode }}
	</p>
	
	<dl>
	  <dt>Number of bedrooms</dt>
	  <dd>{{ apartment.numberOfBedrooms }}</dd>
	  <dt>Number of bathrooms</dt>
	  <dd>{{ apartment.numberOfBathrooms }}</dd>
	  <dt>Square footage</dt>
	  <dd>{{ apartment.squareFootage }}</dd>
	</dl>
</body>

</html>