<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Your Listings</title>
</head>
	<body>
	
	{{> /common/_navigation }}
	
		<h1>Your Listings<h3>
	
	<br>
	
	<h2>Active Listings</h2>
	{{#apartments}} 
		{{#isActive}}
		<div>
		<a href="/apartments/{{ id }}">{{ street }}</a>
		</div>
		{{/isActive}}
	{{/apartments}}
	
	<br>
	
	<h3>Inactive Listings</h3>
	{{#apartments}} 
		{{^isActive}}
		<div>
		<a href="/apartments/{{ id }}">{{ street }}</a>
		</div>
		{{/isActive}}
	{{/apartments}}
	
	</body>
</html>
