<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create</title>
</head>
<body>

{{> /common/_navigation }}

<br>
	<h1>Create a new Listing</h1>
	
	<form method="post" action="/apartments/new">
	<input type="number" required placeholder="How Much?" name="rent">
	<br>
	<input type="number" required placeholder="How big is it? (sq/ft)" name="square_footage">
	<br>
	<input type="number" required placeholder="Bedrooms?" name="number_of_bedrooms">
	<br>
	<input type="number" required placeholder="Bathrooms?" name="number_of_bathrooms">
	<br>
	<input type="text" required placeholder="street" name="street">
	<br>
	<input type="text" required placeholder="city" name="city">
	<br>
	<input type="text" required placeholder="state" name="state">
	<br>
	<input type="text" required placeholder="zipcode" name="zip_code">
	<input type="hidden" value="true" name="isActive">
	<br>
	<button>Add listing</button>
	</form>

	
</body>
</html>