<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create</title>
</head>
<body>
	<h1>Create a new Apartment</h1>
	
	<form method="post" action="/apartments/new">
	<input type="number" required placeholder="How Much?" name="rent">
	<br>
	<input type="number" required placeholder="How big is it? (sq/ft)" name="squareFootage">
	<br>
	<input type="number" required placeholder="Bedrooms?" name="numberOfBedrooms">
	<br>
	<input type="number" required placeholder="Bathrooms?" name="numberOfBathrooms">
	<br>
	<input type="text" required placeholder="street" name="street">
	<br>
	<input type="text" required placeholder="city" name="city">
	<br>
	<input type="text" required placeholder="state" name="state">
	<br>
	<input type="text" required placeholder="zipcode" name="zipCode">
	<br>
	<button>Create</button>
	</form>

	
</body>
</html>